<h1>SWIFT Demo</h1>
<p>These files are in the "demo" container on swift01, our local sandboxed swift machine</p>

<% @swift_demo_files.each do |f| %>
<%= link_to f, "file/" + CGI::escape(f) %> <br>
<% end %>

<% unless params[:n].nil? %>
<br>
<pre>
<% require 'pp' %>
<%= @info.pretty_inspect %>
</pre>

<br>

<img src="<%="file/"+@swift_demo_files.last%>">

<% end %>
