<h1>SWIFT Demo</h1>
<p>These files are in the "demo" container on swift01, our local sandboxed swift machine</p>

<% @swift_demo_files.each_with_index do |f,n| %>
<%= link_to f, "/index/#{n}"  %> <br>
<% end %>

<% unless params[:n].nil? %>
<br>
<pre>
<% require 'pp' %>
<%= @info.pretty_inspect %>
</pre>

<br>

<img src="<%="/file/"+CGI::escape(@swift_demo_files[params[:n].to_i]) %>">

<% end %>
